footer {
	clear: both;
	p{
		text-align:center;
		font-family: 'Fugaz One', cursive;
		margin-top:80px;
		margin-bottom:0.8rem;
		color:white;	
		a{
			animation:colorchange 10s infinite alternate;
			&:hover:before{
				animation:bgchange 10s infinite alternate;
			}
		}
	}
}